/SingletonPattern/nbproject/private/
/SingletonPattern/build/
/JavaCommandPattern/nbproject/private/
/JavaCommandPattern/build/
/JavaCommandPattern/dist/
/JavaAdapterDesignPattern/nbproject/private/
/JavaAdapterDesignPattern/build/